<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mojiayi.action.dynamic.data.permission.dao.LogiReviewMapper">
    <resultMap id="BaseResultMap" type="com.mojiayi.action.dynamic.data.permission.domain.LogiReview">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="review_id" jdbcType="VARCHAR" property="reviewId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="con_no" jdbcType="VARCHAR" property="conNo"/>
        <result column="logi_speed_star" jdbcType="INTEGER" property="logiSpeedStar"/>
        <result column="logi_pack_star" jdbcType="INTEGER" property="logiPackStar"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, review_id, order_id, order_no, con_no, logi_speed_star, logi_pack_star, version,
        `status`, enabled, create_time, create_by, update_time, update_by, remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ord_logi_review
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ord_logi_review
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.mojiayi.action.dynamic.data.permission.domain.LogiReview">
        insert into ord_logi_review (id, review_id, order_id,
        order_no, con_no, logi_speed_star,
        logi_pack_star, version, `status`,
        enabled, create_time, create_by,
        update_time, update_by, remark
        )
        values (#{id,jdbcType=BIGINT}, #{reviewId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR},
        #{orderNo,jdbcType=VARCHAR}, #{conNo,jdbcType=VARCHAR}, #{logiSpeedStar,jdbcType=INTEGER},
        #{logiPackStar,jdbcType=INTEGER}, #{version,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
        #{enabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.mojiayi.action.dynamic.data.permission.domain.LogiReview">
        insert into ord_logi_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="reviewId != null">
                review_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="conNo != null">
                con_no,
            </if>
            <if test="logiSpeedStar != null">
                logi_speed_star,
            </if>
            <if test="logiPackStar != null">
                logi_pack_star,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="reviewId != null">
                #{reviewId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="conNo != null">
                #{conNo,jdbcType=VARCHAR},
            </if>
            <if test="logiSpeedStar != null">
                #{logiSpeedStar,jdbcType=INTEGER},
            </if>
            <if test="logiPackStar != null">
                #{logiPackStar,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mojiayi.action.dynamic.data.permission.domain.LogiReview">
        update ord_logi_review
        <set>
            <if test="reviewId != null">
                review_id = #{reviewId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="conNo != null">
                con_no = #{conNo,jdbcType=VARCHAR},
            </if>
            <if test="logiSpeedStar != null">
                logi_speed_star = #{logiSpeedStar,jdbcType=INTEGER},
            </if>
            <if test="logiPackStar != null">
                logi_pack_star = #{logiPackStar,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mojiayi.action.dynamic.data.permission.domain.LogiReview">
        update ord_logi_review
        set review_id = #{reviewId,jdbcType=VARCHAR},
        order_id = #{orderId,jdbcType=VARCHAR},
        order_no = #{orderNo,jdbcType=VARCHAR},
        con_no = #{conNo,jdbcType=VARCHAR},
        logi_speed_star = #{logiSpeedStar,jdbcType=INTEGER},
        logi_pack_star = #{logiPackStar,jdbcType=INTEGER},
        version = #{version,jdbcType=BIGINT},
        `status` = #{status,jdbcType=TINYINT},
        enabled = #{enabled,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>